:root {
  --color-mode: "light";
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}
body {
  background: var(--background);
  color: var(--text-color);
  transition: 500ms ease-in-out, color 200ms ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }

  :root:not([data-user-color-scheme]) {
    /*root에 data-user-color-scheme 속성이 없을 때 */
    --background: var(--color-dark);
    --text-color: var(--color-light);
  }
}

[data-user-color-scheme="dark"] {
  --background: var(--color-dark);
  --text-color: var(--color-light);
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
}
.searching-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.search-box-wrapper {
  width: 100%;
  display: flex;
}

.search-box {
  font-size: 36px;
  width: 100%;
  margin-right: 6px;
}

.recent-keywords {
  /* background-color: rgb(52, 78, 224); */
  color: var(--text-color);
  border-radius: 11px;
  padding: 5px;
  margin-top: 10px;
}

.random-button {
  font-size: 50px;
  line-height: 50px;
  cursor: pointer;
  vertical-align: bottom;
  background: none;
  border: none;
  outline: none;
}

.keyword {
  padding-right: 10px;
  cursor: pointer;
}

.keyword:last-child {
  padding-right: 0;
}

.keyword:hover {
  color: rgb(216, 135, 153);
}

.banner-section {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 0;
}
.display {
  width: 260px;
  margin: 0 auto;
  overflow-x: hidden;
}
.image-container {
  display: flex;
  transition: ease 0.5s;
}
.image-wrap {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.4);

  margin: 5px;
  flex: 250px 0 0;
  overflow: hidden;
  box-sizing: border-box;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.right,
.left {
  font-size: 2em;
  color: var(--text-color);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.results-section {
  margin-top: 3%;
}

.notice-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice {
  margin-top: 8%;
  text-align: center;
}

.notice-image {
  height: 300px;
  width: 350px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; */
}

.card {
  display: inline-block;
  width: 100%;
  position: relative;
}

.card-image {
  height: 100%;
  width: 100%;
}
.card-info {
  visibility: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: end;
}
.card-info p {
  margin: 0;
}
.card:hover .card-info {
  visibility: visible;
}
.dark-mode-button {
  font-size: 3rem;
  position: fixed;
  top: 1rem;
  right: 5rem;
  z-index: 3;
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: -1;
}
.modal-contents {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 500px;
  padding: 10px;
  background-color: var(--background);
  color: var(--text-color);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.modal-title {
  margin: 0;
}
.close-btn {
  cursor: pointer;
}
.modal-image {
  height: 60%;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .modal-contents {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .card-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
